{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 54, "knowledge_revision": 123, "git_revision": "33c70550355308a4d34ce015492039334aefcf62", "hash": "ffa2e5f268c113fa2ddec44b673e3d2b", "format-version": 4, "code-base-name": "default", "filename": "backend_api_workspace/backend_api/requirements.txt", "revision_history": [{"123": "33c70550355308a4d34ce015492039334aefcf62"}]}